@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;0,6..12,800;1,6..12,200;1,6..12,700&family=Raleway:ital,wght@0,300;0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
   color: white;
   list-style: none;
}
                 /* Navbar */ 

.navbar-2{   /* Navbar-2 */ 
    display: none;
}

.nav{
    background-color: #0b090a;
    position: fixed;
    width: 100%;
}
.menu-icon {
    cursor: pointer;
    display: none; /* Oculta el ícono en pantallas grandes */
}
.logo{
    height: 150px;
    margin-top: 15px;
}

.foto-menu , .check {
    display: none;
}
.carrito-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: -150px;
    margin-left: 60px;
}
.carrito-icon{
    height: 15px;
    margin-bottom: 80px;
    
}
.cantidad-carrito{
    font-size: 5px;
    margin-left: 6px;
}
.lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    gap: 100px;
    font-size: 10px;
    
}
.li-1,.li-2,.li-3{
    border-right: solid 1px red;
    padding-right: 10px;
    font-size: 13px;
    
}
.li-4,.li-5,.li-6{
    border-left: solid 1px red;
    padding-left: 10px;
    font-size: 13px;
}
.container-list1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    gap: 100px;
    font-size: 10px;
    border-bottom: white solid 1px;
    padding-bottom: 20px ;
}
.container-list2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    gap: 100px;
    font-size: 10px;
    border-bottom: white solid 1px;
    padding-bottom: 20px ;
}
a{
    color:#ba181b;
}
             /* Sec 1 About Us */
.sec-1{
    background-image: url('imagenes/portada.png');
    width: 70vw; 
    height:540px; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin-bottom: 0;
    margin-left: 415px;
    margin-right: 0;
    background-color: black;
}

.container-about{
    margin-top: 200px;
    color: aliceblue;
    background-color: none;
    height: 60px;
    width: 600px;    
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    margin-left: -350px;
}

.about-us{
    font-size:50px;
    color: #e59500;
}

.p-about{
    color:#bbd1ea;
    font-family: 'Nunito Sans', sans-serif;
}

                /* Sec Cards */
.sec-2{
    background-color: black;
}

.cont-1{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90vw;
    width: 1100px;
    margin-left: 100px;
    
}
.card-1 > h3 ,
.card-2 >h3 {
    text-align: center;
    color: #90a959;
    text-decoration: underline;
    margin-bottom: 30px;

}

.img-2{
    height: 160px;
}


.cont-2{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    width: 90vw;
    
    
}

.img-3{
    height: 160px;
    padding-right: 0px;
}

.card-3{
    margin-left: 200px;
}
.card-3 > h3 ,
.card-4 > h3{
    text-align: center;
    color: #90a959;
    text-decoration: underline;
    
}

.card-3 > p ,
.card-4 > p,
.card-1 > p ,
.card-2 >p {
    margin-top: 30px;
    font-family: 'Nunito Sans', sans-serif;
    color: #1b9aaa;
    
}
.card-3 > p:hover,
.card-4 > p:hover,
.card-1 > p:hover ,
.card-2 > p:hover{
    color: white;

}

                        
                /* Sec Prodoctos */

.titulo-producto{
    color: #ff01fb;
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
}

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 50px;
}

.btn-1,.btn-2,.btn-3,.btn-4{
    color: white;
    border-radius: 10px;
    padding: 5px 8px ;
    border:  #fca311;
    background-color:#fca311;
    cursor: pointer;
    
}
.btn-1:hover,.btn-2:hover,.btn-3:hover,.btn-4:hover{
        transform: scale(1.2);
}
.cont-produc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.kol{
    height: 280px;
}
.produc-1{
    display: flex;
    align-items: center;
    justify-content: center;
       
}

.descrip-1{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.descrip-1:hover{
   transform: scale(0.9);
}
.descrip-1 > h6{
    color:#a72608 ;
}
.descrip-1>p{
    color:#3e92cc;
}
.titulo-h6{
    font-size: 15px;
}

.parrafo-br{
    font-size: 10px;
}

.kol-1,.kol-2,.kol-3{
    height: 200px;
    margin-top: 100px;
}
            /* Seccion contactos */
.sec-contac{
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

.contac{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: #ae2012 solid 1px;
    padding: 30px;
    margin-top: 0px;
    height: 400px;
    font-family: 'Roboto', sans-serif; 
}

.contac>h3{
    color: #3e92cc;
}
.contac>p{
    color: #f15946 ;
}
.ubi,.email{
    height: 30px;
}
.email{
    margin-left: -17px;
}
.datos-1{
    margin-top: 40px;
}
.datos-1, .datos-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.datos-1>span, .datos-2>span {
        color: #c8b8db;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: none;
}

input , textarea{
    border: none;
    border-bottom: solid 1px blue;
    padding-bottom: 15px;
}
    
.btn-form{
    background-color:#521945;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px black;
    color:#d9ac97;
    cursor: pointer;
}

.btn-form:hover{
    background-color: red;
}


.formulario{
    border: #ae2012 solid 1px;
    padding: 30px;
    border-bottom:  #ae2012 solid 1px;
}

                        /* Footer */
.beer-img{
    height: 100px;
}

.footer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   margin-top: 50px;
}

.foot-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.foot-2{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 100px;
}
.foot-2>h3{
    color: #677db7;
}
.red-soc{
    height: 50px;
}
.foot-3{
    margin-right: 100px;
}
.foot-3>h3{
    color: #677db7;
}
.ul-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: center;
    gap: 15px;
}

.face, .inst{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inst{
    margin-right: 15px;
}



                /* Java screapt */

.mi-clase-adicional {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-left: 10px;
}

.mi-clase-adicional >p{
    color: #3e92cc;
}
.mi-clase-adicional >h6{
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 15px;
    margin-top: 10px;
}
.mi-clase-adicional >button {
    color: white;
    border-radius: 10px;
    padding: 5px 8px ;
    border:  #fca311;
    background-color:#fca311;
    cursor: pointer;
}

.mi-clase-adicional >button:hover{
    transform: scale(1.2);
}



  .mostrar-carrito{
        background-color: black;
        position: absolute;
        width: 500px;

  }